body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #1f1f1f;
}

#board {
    background-image: url("flappybirdbg.png");
    margin-top: 25px;
    border-radius: 10px;
}